body{
    font-family: 'Open Sans', sans-serif;
}
.icon-head{
    font-size: 1.8em;
    margin-right: 5px;
    color: black;
}
.head-button{
    height: 100%;
}
.text-phone{
    margin-bottom: 0;
}
.icon-head:hover{
    color: #007bff;
}
.icono{
    width: 150px;
    height: 150px;
}
.menu{
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
}

.menu-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu  a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.nav-link{
    color: black !important;
}
#main .carousel-inner img{
    height: 80vh;
    object-fit: cover;
    filter: grayscale(20%);
    opacity: 0.5;
}
#carousel{
    position: relative;
}
#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    z-index: 1;
}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}
.card-encabezado{
    background-color: white;
    border-bottom: 0;
}
.text-cardh{
    color:  #007bff;
}
