body{
    font-family: 'Raleway', sans-serif;
}

.fondo-mensaje{
    background-image: url('/img/fondo-mensaje.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
}
#letter-blue{
    color: #007bff;
    font-weight: bold;
    font-size: 1.8em;
}
.link-menu:hover{
   color: white !important;
}

.icon-head{
    font-size: 2em;
    margin-right: 5px;
    color: black;
}
.caption-carou{
    height: 100%;
}
.text-sabermas{
    height: inherit;
    color: #007bff;
}
.sabermas{
    color: white;
}
.link-saber{
    text-decoration: none !important;
}
.slogan, .text-siguenos{
    margin-bottom: 0;
}
.icon-head{
    color: #007bff;
}

.menu-padding{
    padding-right: 0;
    padding-left: 0;
}
.menu-margin{
    margin-bottom:  0 !important;
    padding: 8px !important;
}

.text-citas{
    line-height: 1em;
    font-size: 0.8em;
    text-align: justify;
}




/*--*/

/*--*/

.about-section {
    height: 100vh;
}
.text-about{
    text-shadow: 1px 1px  #606060;
    color: #007bff;
    
}

.parrafo-about{
    font-size: 1.2em;
   
}
#separator{
    background-color: #007bff;
    width: 25%;
    height: 5px;
}
.about-icon{
    font-size: 4em;
    color: #007bff;
}
.tratamientos-section{
    background-image: url("/img/wallpaper-tratamientos.jpg");
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat
   
}
.icon-tratamientos{
    height: 100px;
    width:100px;
}
.col-tratamientos{
  border:   #ff0022 solid 2px;
  color: white;
  font-size: 1.5em;
  border-radius: 10px 40px 40px 10px;
  background: rgba(0,123,255,1);
  background: rgba(255,0,34,1);
  background: -moz-linear-gradient(45deg, rgba(255,0,34,1) 0%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,0,34,1)), color-stop(88%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(45deg, rgba(255,0,34,1) 0%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(45deg, rgba(255,0,34,1) 0%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(255,0,34,1) 0%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
  background: linear-gradient(45deg, rgba(255,0,34,1) 0%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0022', endColorstr='#ffffff', GradientType=1 );
}
.col-tratamientos a{
    text-decoration: none;
    color: white;
}
.col-tratamientos a:hover{
    color:  #007bff;
}

.promociones{
    background-color: #007bff;
}
.text-section{
    color: white;
}
.icon-contacto{
    font-size: 2em;
    color:  blue
}
#separator-contacto{
    height: 2px;
    width: 100%;
    background-color: #007bff;
}
.logo-foot{
    width: 100px;
    height: 100px;
}
.foot{
    background-color: #007bff;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
}
.col-foot{
    border-left: 1px solid gainsboro;

}
ul li a{
    list-style: !important;
    text-decoration: none !important;
    color: white;
    line-height: 30px;
}
.subfoot{
    background-color: #003abf;
    color: white;
}

/*TRATAMIENTOS*/
.tratamientosd{
    background-color: #007bff;
    color: white;
    font-weight: bold;
    padding: 15px;
}

.botoncito {
    display:none;
    padding:20px;
    background: transparent;
    font-size:30px;
    color:#007bff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
}