body{
    font-family: 'Open Sans', sans-serif;
}
.icon-head{
    font-size: 1.8em;
    margin-right: 5px;
    color: black;
}
.icon-head:hover{
    color: #007bff;
}
.icono{
    width: 150px;
    height: 150px;
}
.menu{
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
}

.menu-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu  a{
    list-style: none;
    text-decoration: none;
    color: black;
}
