@media screen and (max-width:991px){
    .menu{
        background-color:#f7f7f7 !important;
        height: 50%;
        padding: 0;
    }
    .col-menu{
        padding: 0;
    }
}

/*LOGO*/
@media screen and (max-width:855px){
    .icono{
        height: 50px;
        width: 50px;
    }
}