@media screen and (max-width:990px){
    .text-phone{
        font-size: 1.2em;
    }
    .icono{
        width: 100px;
        height: 100px;
        }
}
@media screen and (max-width:800px){
    .text-slider, .text-about, .title-tratamientos, .text-section, .title-contacto{
        font-size: 2em;
       
    }
    .tratamientos-section{
        height: 40vh;
        background-position-y: -100px;
    }
    .icon-tratamientos{
        height: 70px;
        width: 70px;
    }
    .col-tratamientos{
        font-size: 17px;
    }
    .about-section{
        height: 50vh;
    }
    .promociones{
        height: 36vh !important;
    }
}
@media screen and (max-width:768px){
    #main .carousel-inner img{
        height: 65vh;
    }
    .tratamientos-section{
        height: 50vh;
        background-position-y: -100px;
    }
    .about-section{
        height: 60vh;
    }
    .promociones{
        height: 45vh !important;
    }
    .text-slogan{
        margin-left: auto;
        text-align: center;
    }
    .text-phone{
        width: 100% !important;
    }
 
}
}
    
@media screen and (max-width:766px){
    .btn-sesion{
        font-size: 15px;
    }
}
@media screen and (max-width:415px){
    #main .carousel-inner img{
        height: 110vh;
    }
    .text-phone{
        text-align: center;
    }
    .name-doc{
        text-align: center;
    }
    .col-btn{
        justify-content: center !important;
    }
    .text-slider{
        text-align: center;
    }
    .tratamientos-section{
        height: 70vh;
    }
    .col-tratamientos{
        width: 90%;
    }
    .about-section{
        height: 100%;
    }
    .promociones{
        height: 100% !important;
    }
    .implante{
        display: none;
    }
    .slogan, strong{
        font-size: 1.3em !important;
        text-align: unset;
    
    }
    .text-slogan{
        margin-left: 0;
    }
    .text-redes{
        justify-content: center !important;
    }
}
}
@media screen and (max-width:375px){
    #main .carousel-inner img{
        height: 120vh;
    }
    .parrafo-about{
        font-size: 1em;
    }
    .about-section{
        height: 100%;
    }
    .promociones{
        height: 100%;
    }
    
}
@media screen and (max-width:342px){
    .btn-sesion{
        font-size: 13px;
    }
    .name-doc, .text-phone{
        text-align: center;
    }
    .btn-sesion{
        font-size: 10px;
    }
    
}
@media screen and (max-width:325px){
    .text-slider{
       display: none;
    }
    .icon-tratamientos{
        align
    }
    #main .carousel-inner img{
        height: 130vh;
    }
    .parrafo-about{
        font-size: 1em;
    }
    .text-slider, .text-about, .title-tratamientos, .text-section, .title-contacto{
        font-size: 1.5em;
       
    }
    .icon-tratamientos{
        width: 50px;
        height: 50px;
    }
    .col-tratamientos{
        font-size: 14px;
    }
    .img-tratamientos{
        padding-left: !important;
    }
    .slogan, strong{
        font-size: 1em !important;
        text-align: unset;
    
    }
    .text-slogan{
        margin-left: 0;
    }
    .text-redes{
        justify-content: center !important;
    }
}

/*CITAS Y LOGIN*/
@media(min-width:320px){
    .title-res-citas{
        color: white;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        font-size: 1.8em;

    }
    .col-login{
        display:none !important;
    }
}

/*USUARIO*/

@media(max-width:770px){
    .calendar{
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      
    }
    .col-calendar{
        padding-left: 15px !important;
    }
    .title-citas{
        text-align: center;
    }
}
@media(max-width:478px){
    .text-tratamientos{
        font-size: 1em;
    }
}