@media screen and (max-width:991px){
    .menu{
      
        height: 50%;
        padding: 0;
    }
    .col-menu{
        padding: 0;
    }
}

/*LOGO*/
@media screen and (max-width:990px){
    .icono{
        height: 50px;
        width: 50px;
    }
}
@media (max-width:766px){
    .horarios{
      margin-left: 0 !important;
      text-align: center;
    }
    .btn-sesion{
        height: 100%;
    }
    .name-doc{
        text-align: center;
    }
    .text-phone{
        font-size: 1.5em;
    }
    .col-phone{
        text-align: center;
    }
    .text-slider, .text-cardh{
        font-size: 1em;
        text-align: center;
    }

}
@media(max-width:1198px){
    .text-phone{
        font-size: 1.5em;
    }
}
@media(max-width:990px){
    .text-phone{
        font-size: 1.2em;
    }
    .horarios{
        margin-left: 0 !important;
        font-size: 0.9em;
    }
    .namedoc span small{
        font-size: 0.9em;
    }
    .col-ocult{
        margin-left: 0 !important;
    }
    .btn-sesion{
        font-size: 0.7em;
        margin-left: 50px;
    }
}
@media(max-width:375px){
   
    .icono-calendar{
        height: 30px;
        width:30px;
    }
    .card-body{
       font-size: 0.9em;
    }
    .card-body label{
        margin-bottom: 0;
    }
    #main .carousel-inner img{
        height: 120vh;
    }
}
@media(max-width:768px) (min-width:319px){
    #main .carousel-inner img{
        height: 65vh;
    }
    .text-slider{
        font-size: 2em;
    }
    .icon-tratamientos{
        height: 70px;
        width: 70px;
    }
    .col-tratamientos{
        font-size: 1.1em;
    }
    .tratamientos-section, .implante{
        height: 50vh;
    }
    .tratamientos, .text-about{
        font-size: 2em;
    }
   
  
}

/*USUARIO*/

@media(max-width:770px){
    .calendar{
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      
    }
    .col-calendar{
        padding-left: 15px !important;
    }
    .title-citas{
        text-align: center;
    }
}
@media(max-width:478px){
    .text-tratamientos{
        font-size: 1em;
    }
}